html {
    font-family: sans-serif;
    font-size: 20px;
}
body {
    margin: 0;
}

header {
    background-color: #90B0C8;
}

nav {
    padding: 2em 2em;
    max-width: 80ch;
    margin: auto;
}

nav a {
    float: left;
    color: black;
}

.nav-right {
    float: right;
}

.nav-right a {
    padding-left: 1em;
}

main {
    max-width: 80ch;
    padding: 0 2em;
    margin: auto;
}

/* Adapted from Sakura.css */
table {
    text-align: justify;
    width: 100%;
    border-collapse: collapse;
}

td, th {
    padding: 0.5em 0;
    border-bottom: 1px solid #f1f1f1;
}

.comment {
    margin: 1em 0;
}

.comment-author, .comment-body {
    margin: 0;
}